body {
    overflow: scroll;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
.top-bar {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial
}

#rating-box {
    height: 200px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    display: none;
}

.show-rate-components-button {
    float: left;
    margin-right: 5px;
}

.show-rate-components {
    display: none;
}

.highcharts-container {
    width: 100% !important;
    height: 100% !important;
}

.criteria {
    width: 100%;
    height: 100%;
    background-color: #c0c0c0;
}

.open-panel {
    padding-left: 10px;
}

.rate-textbox {
    width: 100% !important;
    margin-bottom: 10px !important;
    resize: none;
}

#show-rating-box-button {
    display: none;
}

.hide-show-button {
    right: 0;
    bottom: 0;
    position: absolute;
}

.reveal-modal-bg {
    background: rgba(0, 0, 0, 0.95);
}

#aesthetic-test-link-box {
    padding: 10px;
    height: 100px;
    background: cornflowerblue;
    font-weight: bold;
}

.finish-button {
    right: 0;
    position: absolute;
}

.result-h {
    color: #ffffff;
    font-weight: bold;
}

#div-index-result-panel {
    background-color: mintcream;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background-color: #9c004b;
}

.panel {
    background-color: #ffffff;
!important;
}
#projectinfo a{
    color: #1cc7ff;
}


