body{
    overflow: hidden;
}

#rating-box{
    height: 150px;
    width: 100%;
    background: red;
    position: absolute;
    bottom: 0;
    display: none;
}

#show-rating-box-button{
    display: none;
}

.hide-show-button{
    right: 0;
    bottom: 0;
    position: absolute;
}

.reveal-modal-bg {
    background: rgba(0, 0, 0, 0.95);
}

#aesthetic-test-link-box {
    padding: 10px;
    height: 100px;
    background: cornflowerblue;
    font-weight: bold;
}