body{
    overflow: hidden;
}

#rating-box{
    height: 200px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    display: none;
}

.login-box {
    background: #fff;
    border: 1px solid #ddd;
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}

.show-rate-components-button{
    float: left;
    margin-right: 5px;
}

.show-rate-components{
    display: none;
}

.rate-textbox {
    width: 600px !important;
    resize: none;
}

.rate-slider{
    width: 100%;
}
#show-rating-box-button{
    display: none;
}

.hide-show-button{
    right: 0;
    bottom: 0;
    position: absolute;
}

.reveal-modal-bg {
    background: rgba(0, 0, 0, 0.95);
}

#aesthetic-test-link-box {
    padding: 10px;
    height: 100px;
    background: cornflowerblue;
    font-weight: bold;
}
