body {
    overflow: hidden;

}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

#rating-box {
    height: 350px;
    width: 100%;
    background: #9c004b;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    display: none;
}

.rate-list {
    list-style-type: none;
    width: 80%;
}

.picked {
    border: 3px solid #008CBA;
    border-radius: 5px;
}

.show-rate-components-button {
    float: left;
    margin-right: 5px;
}

.show-rate-components {
    display: none;
}

#test-box {
    height: 100%;
}

.rate-textbox {
    width: 100% !important;
    margin-bottom: 10px !important;
    resize: none;
}

.rate-slider {
    width: 100%;
}

#show-rating-box-button {
    display: none;
}

.hide-show-button {
    right: 0;
    bottom: 0;
    margin-bottom: 0px;
    position: fixed;
}

#hide-rating-box-button{
    display: none;
}
.reveal-modal-bg {
    background: rgba(0, 0, 0, 0.95);
}

#aesthetic-test-link-box {
    padding: 10px;
    height: 100px;
    background: cornflowerblue;
    font-weight: bold;
}

.finish-button {
    right: 0;
}

.at-general-rate-box {
    font-weight: bold;
    margin-top: 30px;
    width: 10%;
    float: left;
    text-align: center;
    font-size: 0.7rem;
    margin-right: 4%;
}

.at-smiley-rate-box {
    width: 50px;
    float: left;
}

.smileys {
    width: 25%;
    height: 25%;
}

.reveal-modal {
    top: 0px !important;
}

.rate-header {
    color: #ffffff;
}

.finish-button {
    right: 0;
    position: absolute;
}

.attribute{
    color: greenyellow;
}
.ok-button{
    margin-top: 10px;
    margin-left: 20px;
}

#rating-box-pointer{
    top: 150px;
    text-align: center;
    position: absolute;
    color: white;
    width: 100%;
    z-index: 1002;
    font-size: 2rem;
    display: none;
}

#rating-box-pointer h1{
    color: #ffffff;
}

.reveal-modal{
    overflow-y: auto;
}