<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AestheticTest.com</title>
    <link rel="stylesheet" href="css/foundation.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/parse-1.3.5.js"></script>
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>


<iframe src="" id="test-page" width="100%" height="100%"></iframe>


<div class="row">
    <div class="large-12 columns">

        <div id="aesthetic-slider-modal" class="reveal-modal" data-reveal>
            <h2>Determine the aesthetics of the website!</h2>

            <div class="range-slider" data-slider>
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
            </div>
            <button id="close-slider-modal-button">Close</button>
        </div>
    </div>
</div>

<button id="show-rating-box-button" class="hide-show-button">
    Show
</button>
<div id="rating-box">
    <button id="hide-rating-box-button" class="hide-show-button">
        Hide
    </button>

    <div class="row">
        <div class="large-12 columns">

            <a href="#" data-reveal-id="general-aesthetic-modal">Click Me For general-aesthetic-modal</a>
        </div>
    </div>
</div>


<div id="general-aesthetic-modal" class="reveal-modal" data-reveal>
    <h2>I love Aesthtetic!</h2>

    <div class="row">
        <div class="large-12 columns">
            <label>Your last possibility to say something about the aesthtetic of this page!
                <textarea placeholder="More negative or positive aspects?"></textarea>
            </label>
        </div>
    </div>
    <a href="#" class="button">finish test and send test data button</a>
</div>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="libs/underscore.js"></script>

<script type="text/javascript" src="src/AestheticTest.js"></script>
<script type="text/javascript" src="src/MainController.js"></script>
<script type="text/javascript" src="src/TestSetup.js"></script>
<script type="text/javascript" src="src/SliderView.js"></script>
<script type="text/javascript" src="src/RatingView.js"></script>
<script type="text/javascript" src="src/FreeTextView.js"></script>


<script type="text/html" id="to-rate-tpl">
    <div class="to-rate-wrapper">

        <button class="show-rate-components-button" id="<%= attribute %>"><%= button_attribute_to_rate %></button>

        <div class="show-rate-components" id="rate-components-<%= attribute %>">
            <div>Please rate the overall <%= attribute %></div>
            <textarea style="float: left" cols="100" rows="10" type="text" placeholder="Name what you didn't like " id="rate-textbox-<%= attribute %>" class="rate-textbox"/>
            <button  class="ok-button" id="ok-button-<%= attribute %>">OK</button>
        </div>
    </div>
</script>
<script>
    $(document).foundation();
    $(function () {
        AestheticTest.init();
    });
</script>
</body>
</html>
